<div class="pagename">

<% if @user %>
<h3 class="pagenametext"><%= @user.name %></h3>

  <% end %>

</div>

  <h4 class="hide">Dagens uppgifter:</h4>

<% if @assignments %>
    <% for assignment in @assignments %>
        <div class="hide">
        <h3 class="rubrik"><%= assignment.name %> <%=assignment.time%></h3>
          <a class="mdl-navigation-link" href="/share/<%=assignment.id%>">
          Dela
          </a>
        </div>
        <div class="pna_div show" style="display: none;
            border: 2px solid black">
          <p><%=assignment.description%></p>
          <p><%= assignment.day.date %></p>
        </div>
    <% end %>
<% else %> <p>No assignments today!</p>
<% end %>

<!-- Accent-colored raised button with ripple -->













