<div class="pagename">

<% if @user %>
<h3 class="pagenametext"><%= @user.name %></h3>

  <% end %>

</div>

  <h4 class="hide">Dagens uppgifter:</h4>

<% for assignment in @assignments %>
    <h3 class="rubrik hide"><%= assignment.name %></h3>
    <div class="pna_div show" style="display: none;
        border: 2px solid black">
      <p><%=assignment.description%></p>
      <p><%=assignment.date%> - <%=assignment.time%></p>
    </div>
<% end %>



<% for day in @days %>
    <%= day.date %>
    <% end %>


  <h4>Projekt</h4>
  <% for project in @projects %>
      <h3 class="rubrik hide"><%= project.name %></h3>
      <div class="pna_div show" style="display: none;
                                        border: 2px solid black">
        <p><%=project.description%></p>
        <p><%=project.start_date%> - <%=project.end_date%></p>

        <a class="mdl-navigation-link button" href="/project/<%=project.id%>">

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pna_div_button">
            Gå till Projekt
          </button>

        </a>



            </div>


      <% end %>



