<div class="pagename">

<% if @user %>
<h3 class="pagenametext"><%= @user.name %></h3>

  <% end %>

</div>

  <h4 class="hide">Dagens uppgifter:</h4>

<% for assignment in @assignments %>
    <h3 class="rubrik hide"><%= assignment.name %></h3>
    <div class="pna_div show" style="display: none;
        border: 2px solid black">
      <p><%=assignment.description%></p>
      <p><%=assignment.date%> - <%=assignment.time%></p>
    </div>
<% end %>












